@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  margin-top: 1rem;
  display: flex;
  flex-flow: row;
  width: 100%;
}

nav .homeLogo {
  width: 1.6rem;
  margin-left: 1.5rem;
}

nav > ul {
  display: flex;
  flex-flow: row;
  list-style: none;
  justify-content: space-around;
  font-size: 18px;
}
nav > form {
  display: flex;
  flex-flow: row;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: repeat();
}

.optionsLeft {
  width: 20%;
}
.navIcons {
  width: 20%;
  display: flex;
  flex-flow: row;
  list-style: none;
  justify-content: space-around;

  align-items: center;
}
.mainInput {
  width: 100%;
  border: none;
  background-color: #eee;
  border-radius: 40px;
  height: 3rem;
  font-size: 18px;
  padding: 1rem;
}
.mainInput:focus {
  width: 100%;
  border-style: solid;
  border-width: 4px;
  outline: none;
  border-color: rgb(121, 193, 211);
  background-color: #eee;
  border-radius: 40px;
  height: 3rem;
  font-size: 18px;
}

.mainGrid {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.imgItem {
  align-self: center;
  justify-self: center;
}

.pruebaFondo {
  display: flex;

  justify-content: center;
}
